
html {
    --container-width: 360px;
    --container-height: 360px;

    width: 100%;
    height: 100%;
}

html, body, div {
    box-sizing: border-box;
    display: block;
}

body {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}



div#vinyl-player-container {
    width: var(--container-width);
    height: var(--container-height);

    background-color: rgb(243, 243, 243);
}