html, body {
    width: fit-content;
    height: fit-content;
}

div#control-plane-menu {
    box-sizing: border-box;
    display: block;

    width: 144px;
    height: auto;

    border-radius: 1px;

    background-color: gray;
}

div#control-plane-menu > ul {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    width: 100%;
    /* height: 100%; */

    padding: 0 2px;
    margin: 0 2px;
}

div#control-plane-menu > ul > li {
    box-sizing: border-box;
    display: block;

    width: 100%;
    height: 27px;

    margin: 2px;

    list-style: none;

    position: relative;   /* for all submenu items */

    background: rgb(150, 121, 121);
}

div#control-plane-menu > ul > li > a {
    box-sizing: border-box;
    display: block;

    width: 100%;
    height: 100%;

    padding: 2px;

    position: relative;

    text-decoration: none;

    font-family: Arial,Helvetica, sans-serif;
    font-weight: 300;
    font-size: 12px;

    color: black;
}

ul.submenu {
    box-sizing: border-box;
    display: block;

    width: 144px;
    height: auto;

    padding: 0;

    position: absolute;
    top: 0;
    left: 102%;
    bottom: 0;

}

ul.submenu > li {
    box-sizing: border-box;
    display: block;

    width: 100%;
    height: 27px;
    
    padding: 2px;

    list-style: none;

    background-color: gray;
}

ul.submenu > li > a {
    box-sizing: border-box;
    display: block;

    width: 100%;
    height: 100%;

    text-decoration: none;
    font-family: Arial,Helvetica, sans-serif;
    font-weight: 300;
    font-size: 12px;

    color: black;
}