<div id="control-plane-menu">
    <ul id="menu" #menu>
        <li>
            <a href="#">Settings</a>
            <ul class="submenu">
                <LI><a href="#">Aidio</a></LI>
                <LI><a href="#">Network</a></LI>
            </ul>
        </li>
        <li>
            <a href="#">Session</a>
            <ul class="submenu">
                <LI><a href="#">new...</a></LI>
                <LI><a href="#">Open...</a></LI>
                <li><a href="#">Save</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Channels</a>
            <ul class="submenu">
                <li><a href="#">Deck 1</a></li>
                <li><a href="#">Deck 2</a></li>
            </ul>
        </li>
    </ul>
</div>